<div class="form-group">
  <div class="col-sm-offset-1 col-sm-9">
    <div class="checkbox">
      <label>
        <%= f.check_box field.name.to_sym %> <%=t "activerecord.attributes.superb_text_constructor/#{f.object.template}.#{field.name}" %>
      </label>
    </div>
  </div>
</div>